.search-bar {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 16px;
}

.spinner-center {
  display: flex;
  justify-content: center;
  padding: 32px;
}

.w-100 {
  width: 100%;
}
